{% comment %}
    Cosmetic stuff.
{% endcomment %}
<style>

li {
    list-style-type: none;
    padding: 0 0 0 3.4rem;
    margin: auto auto 0.4rem;
    font-size: 0.95rem;
    text-align: start;
}

time {
   font-size: 0.8rem;
   text-decoration: none;
}

@media only screen and (max-width: 520px) {

    li {
        margin: auto;
        text-align: center;
        padding: 0 5px 0 0;
        border: none;
    }
    a {
        text-decoration: none;
    }
    time {
        display: none;
    }
}
</style>
